.newForm
{
    width: max-content;
    height: 200px;
    margin: 30px auto;
}

.button
{
    margin: 10px auto;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

label
{
    font-weight: bold;
    font-size: 15px;
}