h1
{
    text-align: center;
}

img
{
    width: 500px;
    height: auto;
    display: block; /* Це дозволяє встановити margin:auto */
    margin: auto;   /* Встановлення margin на auto для горизонтального вирівнювання */
}